## Please list additional packages with version numbers

numpy~=1.19.2
pandas==1.2.1
seaborn==0.10.0
matplotlib-inline==0.1.2 
scikit-learn==0.24.2
lightgbm==2.3.1
keras~=2.6
dice-ml==0.7.1
tensorflow==2.6.0
shap==0.35.0
Shapely==1.7.0
lime==0.2.0.1